.presentationHeader, .Gallerie, header, .quote, .CTA, .gallerie, ul, .presentation{
    display:flex;
}

header{
    justify-content: center;
    align-items: center;
}
body{
    margin: 0;
    font-family: Roboto;
}

.presentationHeader{
    flex-direction: column;
    background-color: #1F2937;
    color: white;
    padding: 18px 10% 10% 10%;
    font-family: Roboto, Geneva, Tahoma, sans-serif;
    gap: 80px;
    
}
/* description element du header*/
.logo{
    font-weight: 300;
    font-size: 24px;
    font-family: Roboto, Geneva, Tahoma, sans-serif;
    color: #F9FAF8;
}
ul{
    list-style: none;
    margin: 0;
    gap:20px;
}

nav{
    margin-left: auto;
    font-size: 18px;
    color: #E5E7EB;
}
 /* placement du panneau de preentation*/

 .presentation{
    gap: 30px;   
    align-items: stretch;
    
 }

 .textPresentation{
    width: 50%;
    flex: 1 1 auto;
    font-size: 18px;
    color: #E5E7EB;
 }

 .placeholderPresentation{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(244, 244, 244, 0.4);
    width: 50%;
    
    flex: 1 1 auto;
 }

 button{
    background-color: #3882F6;
    color: white;
    border: 0;
    font-size: 18px;
    border-radius: 4px;
    padding: 3px 15px;
 }

 h1.titrePresentation{
    margin-top: 0;
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
 }

 /* placement et decoration de la gallerie*/

 .Gallerie{
    flex-direction: column;
    padding: 3% 15% 5% 15%;
    align-items: stretch;
 }
 .gallerie{
    gap: 5%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
 }

 .titreGallerie{
    font-size: 36px;
    font-weight: extra-bold;
    color: hsl(215, 28%, 17%);
    margin-bottom: 40px ;
    margin-top: 0;
    font-family: Roboto;
    text-align: center;
 }

.carte{
    display: flex;
    flex-direction: column ;
    align-items: center;
    
}

 .cadre{
    width: 13vw;
    height: 13vw;
    background-color: #E5E7EB;
    border-radius: 8px;
    border: #3882F6 solid 3px;

 }

 .descriptionCarte{
    text-align: center;
    width: 13vw ;
    height: 7vw;
    color: #383a3b;
    font-weight: 10;
    font-size: 13px;
    margin-top: 4px;
 }

 

 /*Créer la section citation*/

 .quote{
    flex-direction: column;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 90px;
 }

 .citation{

    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
 }

 .auteur{
    align-self: flex-end;
    font-weight: 300;
    font-size: 30px;
 }
